# Glass Identification

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import warnings 
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('Glass Identification.csv')
df

       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00    0.00    1
1      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00    0.00    1
2      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00    0.00    1
3      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00    0.00    1
4      6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00    0.26    1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...     ...  ...
208  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06    0.00    7
209  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59    0.00    7
210  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64    0.00    7
211  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57    0.00    7
212  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67    0.00    7

[213 rows x 11 columns]

In [6]:
df.head()

   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0  2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0.0    0.00    1
1  3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0.0    0.00    1
2  4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0.0    0.00    1
3  5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0.0    0.00    1
4  6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07   0.0    0.26    1

In [7]:
df.tail()

       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
208  210  1.51623  14.14   0.0  2.88  72.61  0.08  9.18  1.06     0.0    7
209  211  1.51685  14.92   0.0  1.99  73.06  0.00  8.40  1.59     0.0    7
210  212  1.52065  14.36   0.0  2.02  73.42  0.00  8.44  1.64     0.0    7
211  213  1.51651  14.38   0.0  1.94  73.61  0.00  8.48  1.57     0.0    7
212  214  1.51711  14.23   0.0  2.08  73.36  0.00  8.62  1.67     0.0    7

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   1        213 non-null    int64
 1   1.52101  213 non-null    float64
 2   13.64    213 non-null    float64
 3   4.49     213 non-null    float64
 4   1.10     213 non-null    float64
 5   71.78    213 non-null    float64
 6   0.06     213 non-null    float64
 7   8.75     213 non-null    float64
 8   0.00     213 non-null    float64
 9   0.00.1   213 non-null    float64
 10  1.1      213 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 18.4 KB

In [12]:
print(df.shape)

(213, 11)

In [14]:
print(df.describe())

                1     1.52101       13.64        4.49        1.10       71.78  \
count  213.000000  213.000000  213.000000  213.000000  213.000000  213.000000
mean   108.000000    1.518353   13.406761    2.676056    1.446526   72.655023
std     61.631972    0.003039    0.818371    1.440453    0.499882    0.774052
min      2.000000    1.511150   10.730000    0.000000    0.290000   69.810000
25%     55.000000    1.516520   12.900000    2.090000    1.190000   72.280000
50%    108.000000    1.517680   13.300000    3.480000    1.360000   72.790000
75%    161.000000    1.519150   13.830000    3.600000    1.630000   73.090000
max    214.000000    1.533930   17.380000    3.980000    3.500000   75.410000

             0.06        8.75        0.00      0.00.1         1.1
count  213.000000  213.000000  213.000000  213.000000  213.000000
mean     0.499108    8.957934    0.175869    0.057277    2.788732
std      0.653035    1.426435    0.498245    0.097589    2.105130
min      0.000000    5.430000    0.000000    0.000000    1.000000
25%      0.130000    8.240000    0.000000    0.000000    1.000000
50%      0.560000    8.600000    0.000000    0.000000    2.000000
75%      0.610000    9.180000    0.000000    0.100000    3.000000
max      6.210000   16.190000    3.150000    0.510000    7.000000

In [15]:
print(df.isnull().sum())

1          0
1.52101    0
13.64      0
4.49       0
1.10       0
71.78      0
0.06       0
8.75       0
0.00       0
0.00.1     0
1.1        0
dtype: int64

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [49]:
X = df(columns = ['Type of glass'])
y = df['Type of glass']

print(X.head())
print(y.head())

TypeError: 'DataFrame' object is not callable

In [50]:
df.columns = df.columns.str.strip()
print(df.columns)

Index(['1', '1.52101', '13.64', '4.49', '1.10', '71.78', '0.06', '8.75',
       '0.00', '0.00.1', '1.1'],
      dtype='object')

In [46]:
X = df.drop(columns=['Type of glass'])
y = df['Type of glass']

KeyError: "['Type of glass'] not found in axis"

Student Prediction

In [51]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [54]:
df = pd.read_csv('Grades.csv')
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [55]:
initial_years = ['AB-101', 'AB-201', 'AB-301']
df['Initial_GPA'] = df[initial_years].mean(axis=1)

KeyError: "None of [Index(['AB-101', 'AB-201', 'AB-301'], dtype='object')] are in the [columns]"

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Load the dataset
url = "https://github.com/FlipRoboTechnologies/ML-Datasets/raw/main/Grades/Grades.csv"
df = pd.read_csv(url)

# Data preprocessing
initial_years = ['AB-101', 'AB-201', 'AB-301']
df['Initial_GPA'] = df[initial_years].mean(axis=1)

# Split data into features (X) and target (y)
X = df[['Initial_GPA']]
y = df['CGPA']

# Feature scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Initialize and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")

# Predict CGPA for a new student
new_student_initial_gpa = 8.0  # Replace with the actual initial GPA
new_student_scaled = scaler.transform([[new_student_initial_gpa]])
predicted_cgpa = model.predict(new_student_scaled)
print(f"Predicted CGPA for the new student: {predicted_cgpa[0]:.2f}")

KeyError: "None of [Index(['AB-101', 'AB-201', 'AB-301'], dtype='object')] are in the [columns]"

In [57]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

NameError: name 'X' is not defined

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

NameError: name 'X_scaled' is not defined

In [59]:
model = LinearRegression()
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [60]:
y_pred = model.predict(X_test)

NameError: name 'X_test' is not defined

In [61]:
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

NameError: name 'y_test' is not defined